@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* set a background image for the entire app */
body {
  background-image: url("/BackgroundBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; /* Ensure it covers the entire viewport height */
  background-position: center; /* Center the background image */
}
